<div id="animationBloc">
  <div class="leftBloc">
    <span [ngStyle]="{'background-image':'url('+ imagePath+movies[0].backdrop_path +')' }"></span>
    <img src="{{imagePath+movies[0].backdrop_path}}" alt="animation">
    <h5>{{movies[0].title}}</h5>
    <p>Release: date {{movies[0].release_date}}</p>
  </div>
  <div class="rightBloc">
    <div>
      <span [ngStyle]="{'background-image':'url('+ imagePath+movies[1].poster_path +')' }"></span>
      <div>
        <h5>{{movies[1].title}}</h5>
        <p>Release date: {{movies[1].release_date}}</p>
      </div>
    </div>
    <div>
      <span [ngStyle]="{'background-image':'url('+ imagePath+movies[2].poster_path +')' }"></span>
      <div>
        <h5>{{movies[2].title}}</h5>
        <p>Release date: {{movies[2].release_date}}</p>
      </div>
    </div>
    <div>
      <span [ngStyle]="{'background-image':'url('+ imagePath+movies[3].poster_path +')' }"></span>
      <div>
        <h5>{{movies[3].title}}</h5>
        <p>Release date: {{movies[3].release_date}}</p>
      </div>
    </div>
  </div>
</div>
