<div id="animationBloc">

  <div class="animationHeader">
    <img src="https://img.icons8.com/nolan/64/animation.png" alt="animation"/>
    <h4>Interesting For Children</h4>
  </div>

  <hr>

  <div class="animation">

    <div class="leftBloc">
      <a [routerLink]="['/details']" [state]="{data: movies[0].id}">
        <div [ngStyle]="{'background-image':'url('+ imagePath+movies[0].backdrop_path +')' }"></div>
      </a>
      <app-stars-rating [rating]="movies[0].vote_average"></app-stars-rating>
      <h5><a [routerLink]="['/details']" [state]="{data: movies[0].id}">{{movies[0].title}}</a></h5>
      <p>Release: date {{movies[0].release_date}}</p>
    </div>

    <div class="rightBloc">
      <app-intresting-card [movie]="movies[1]"></app-intresting-card>
      <app-intresting-card [movie]="movies[2]"></app-intresting-card>
      <app-intresting-card [movie]="movies[3]"></app-intresting-card>
    </div>

  </div>
</div>
