<div id="movieList"  *ngIf="movies">
  <div class="headerBlock" [ngStyle]="{'background-image':'url('+ imagePath+movies[0].poster_path +')' }">
    <img
      src="https://img.icons8.com/external-icongeek26-outline-gradient-icongeek26/64/000000/external-video-camera-retro-icongeek26-outline-gradient-icongeek26.png"
      alt="camera"/>

    <div>
      <h2>Movie List</h2>
      <div class="pathHome">
        <mat-icon>home</mat-icon>
        <p><a [routerLink]="['home']"> / home </a>/ movieList</p></div>
    </div>

  </div>

  <div class="moviesBlock">

    <div class="sort"></div>

    <div class="movies">
      <app-movie-card *ngFor="let movie of movies" [id]="movie.id"></app-movie-card>
    </div>

    <div class="pagesBtn">
      <mat-icon class="btnIcon first" (click)="first_page()">first_page</mat-icon>
      <mat-icon (click)="pageOneBtn()">chevron_left</mat-icon>
      <button *ngIf="page>1" (click)="pageOneBtn()">{{page <= 1 ? page : page-1}}</button>
      <button class="active">{{page}}</button>
      <button *ngIf="page<totalPages" (click)="pageThreeBtn()">{{page + 1}}</button>
      <mat-icon (click)="pageThreeBtn()">chevron_right</mat-icon>
      <mat-icon class="btnIcon last" (click)="last_page()">last_page</mat-icon>
    </div>

  </div>
</div>
