<div id="spotlight">

  <div class="blockHeader">

    <div>
      <img
        src="https://img.icons8.com/external-icongeek26-outline-gradient-icongeek26/64/000000/external-video-camera-retro-icongeek26-outline-gradient-icongeek26.png"
        alt="camera">
      <h4>Spotlight This Month</h4>
    </div>

    <a [routerLink]="['/movieList']">See all spotlights
      <mat-icon>keyboard_arrow_right</mat-icon>
    </a>

  </div>

  <hr>

  <div class="blockMovie">

    <div class="buttons">
      <button (click)="getLatest()">Latest</button>
      <button (click)="getUpcoming()">Upcoming</button>
      <button (click)="getTopRated()">TopRated</button>
      <button (click)="getPopular()">Popular</button>
    </div>

    <app-slide-menu [movies]="movies" [list]="'latest'"></app-slide-menu>
  </div>

  <div  [ngStyle]="{'background-image':'url(https://demo.joomshaper.com/2016/moview/images/demo/home-add-1.jpg)' }" class="posterBottom"></div>
  <hr>

</div>
