<div id="movieCard" *ngIf="movie">

  <a [routerLink]="['/details']" [state]="{data: movie.id}">
    <img src="{{imagePath+movie.poster_path}}" alt="movie image">
  </a>


  <div class="voteAverage d-flex">
    <mat-icon class="star">star</mat-icon>
    {{movie.vote_average}}/{{movie.vote_count}}
  </div>
  <a [routerLink]="['/details']" [state]="{data: movie.id}">
    <h5 class="title">{{movie.title}}</h5>
  </a>

  <div class="genres">
    <p><strong>Release Date:</strong> {{movie.release_date}}</p>
  </div>
</div>

