.movieCard {
  background-size: cover;
  background-position: center;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  box-shadow: inset 0 -7rem 6rem black;
}
.star {
  color: #ff5900;
  width: 15%;
}
h4 {
  font-family: serif;;
}
.voteAverage, .title, p {
  color: white;
  padding: 0 10px;
}
