/* You can add global styles to this file, and also import other style files */
* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
app-latest-movie, app-interesting {
  display: flex;
  justify-content: center;
}
app-genre {
  margin: 3px;
}
app-movies-list-card, app-movie-card {
  width: fit-content;
}
