.cardMovie {
  display: flex;
  margin: 10px;
}

.image {
  height: 150px;
  background-position: center;
  background-size: cover;
}
.image:hover {
  background-size: auto 120%;
}

.description {
  margin: 20px;
}

mat-icon {
  color: #ff5900;
  font-size: 15px;
}

a {
  width: 50%;
  text-decoration: none;
  color: #111111;
}

a:hover {
  color: #ff5900;
}
